#footer{
  border-top: 1px solid #CFD7DB;
  display: block;
}
.region-footer{
      font-family: Arial;
      font-size: 12px;
      max-width: 1000px;
       margin: 0 auto;
}

body {
  background-image: linear-gradient(to top, #a2a2a2, #b8b9b8, #d0d0d0, #e7e7e7, #ffffff);
/*  background: url(../monumento/sistema/sites/all/themes/creative_responsive_theme/images/fondo22.jpg) no-repeat fixed center;*/
/*  background-size: cover;*/
}
.link {
  stroke: #ccc;
}

.node text {
  text-align: center;
  pointer-events: none;
  font: 6px sans-serif;
}
div.tooltip { 
    position: absolute;     
    text-align: center;     
    max-width: 250px;
    height: auto;         
    padding: 8px;       
    font: 12px sans-serif;    
/*    background: lightsteelblue;*/
    background: #DAD8A3;
    border-style:solid;
    border: 2px;   
    border-color:#CCC; 
    border-radius: 8px;     
    pointer-events: none;   
}